body {
    min-height: 100vh;
    background-color: #fefaef !important;
}

.navbar {
    background-color: #fcd105 !important;
    margin-bottom: 10px;
}

h2 {
    color: #0b2228 !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 500px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

